<div style="text-align: left">
	
	<h2> Demande de création de mot de passe. </h2>
  
  <p> Une demande de création de mot de passe a été effectuée pour votre profil. </p>
  <p> Ouvrez le lien ci-dessous pour confirmer la création de votre nouveau mot de passe. </p>
	<p> <strong> Si vous n'avez pas effectué cette demande, ou si vous ne vous rappelez plus de votre nouveau mot de passe, ne confirmez pas cette demande. </strong> </p>
    <p> <strong> À la confirmation de la création du mot de passe, vous serez automatiquement déconnecté de la session courante. Sauvegardez toutes modifications en cours, avant de continuer. </strong> </p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Confirmer la création du mot de passe</span>
	</a>

  <p>Si vous pensez qu'il s'agit d'une erreur, merci d'ignorer cet e-mail.</p>
	<p>{{date}}</p>
</div>