<div style="text-align: left">

	<h2>Désactiver le compte</h2>
  
  <p>Une demande pour désactiver votre compte a été effectuée.</p>
  <p>Cliquer sur ce lien ci-dessous pour pour confirmer la DÉSACTIVATION de votre compte.</p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:red;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>DÉSACTIVER MON COMPTE</span>
	</a>

	<p>Si vous pensez qu'il s'agit d'une erreur, merci d'ignorer cet e-mail.</p>
	<p>{{date}}</p>
</div>