<div style="text-align: left">
	<h2>Desativar conta</h2>
  
  <p>Uma solicitação de desativação da sua conta foi efetuada. </p>
  <p>Clique no link abaixo para confirmar a DESATIVAÇÃO da sua conta.</p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:red;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>DESATIVAR MINHA CONTA</span>
	</a>

	<p>Se você acredita que isto é um erro, por favor ignore este E-Mail.</p>
	<p>{{date}}</p>
</div>