<div style="text-align: left">

	<h2>Disable account</h2>
  
  <p>A request to disable your account has been made.</p>
  <p>Click on the link below to confirm your account is DISABLED.</p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:red;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>DISABLE MY ACCOUNT</span>
	</a>

	<p>If you believe this is a mistake, please ignore this E-Mail.</p>
	<p>{{date}}</p>
</div>