<div style="text-align: left">
	<h2>Olá, recebemos sua solicitação de registro.</h2>
	<p>Por favor, clique no link abaixo para confirmar sua nova conta:</p>
	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:#33C3F0;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"
		href="{{remote}}/confirm#{{hash}}"
	>
		<span>CONFIRMAR MEU REGISTRO</span>
	</a>
	<p>Este link é válido por 48 horas.</p>
	<p>Se você acredita que isto é um erro, por favor ignore este e-mail.</p>
	<p>{{date}}</p>
</div>