<div style="text-align: left">
	<h2>Hello, we received your registration request.</h2>
	<p>Please click on the link below to confirm your new account:</p>
	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:#33C3F0;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"
		href="{{remote}}/confirm#{{hash}}"
	>
		<span>CONFIRM REGISTRATION</span>
	</a>
	<p>This link is valid for 48 hours.</p>
	<p>If you believe this is a mistake, please ignore this E-Mail.</p>
	<p>{{date}}</p>
</div>