<div style="text-align: left">
  
  <h3>Vous avez reçu un nouveau message via le formulaire de contact de votre CV :</h3>
  
  <p>-----------------------------------------------------------------------</p>
  
  <p>
    De : {{n_001}} : {{e_001}}<br/>
    Objet: {{s_001}}<br/>
  </p>
  
  <p>-----------------------------------------------------------------------</p>

  <p>
    {{m_001}}
  </p>

</div>