<div style="text-align: left">
  
  <h3>You received a new message via your CV Contact Form:</h3>
  
  <p>-----------------------------------------------------------------------</p>
  
  <p>
    From: {{n_001}} : {{e_001}}<br/>
    Subject: {{s_001}}<br/>
  </p>
  
  <p>-----------------------------------------------------------------------</p>

  <p>
    {{m_001}}
  </p>

</div>