<div style="text-align: left">
  
  <h3>Você recebeu uma nova mensagem via Formulário de Contato do seu CV:</h3>
  
  <p>-----------------------------------------------------------------------</p>
  
  <p>
    De: {{n_001}} : {{e_001}}<br/>
    Sobre: {{s_001}}<br/>
  </p>
  
  <p>-----------------------------------------------------------------------</p>

  <p>
    {{m_001}}
  </p>

</div>