<div style="text-align: left">

	<h2> Request to change password. </h2>

	<p> A password change request has been made for your profile. </p>
	<p> Click on the link below to confirm the password reset. </p>
	<p> <strong> If you did not make this request, or if you no longer remember your new password, do not confirm this request. </strong> </p>
	<p> <strong> When you confirm the password change you will be automatically logged out of your current session. Save any pending issues before continuing. </strong> </p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Confirm password change</span>
	</a>

	<p>If you believe this is a mistake, please ignore this E-Mail.</p>
	<p>{{date}}</p>
</div>