<div style="text-align: left">
	<h2>Solicitação para troca de senha.</h2>
  
  <p>Uma solicitação de troca de senha foi efetuada para o seu perfil. </p>
  <p>Clique no link abaixo para confirmar a redefinição de senha.</p>
	<p><strong>Caso não tenha sido você que fez esta solicitação, ou se você não se lembra mais de sua nova senha, não confirme esta solicitação.</strong></p>
  <p><strong>Ao Confirmar a troca de senha você será automáticamente deslogado da sua sessão atual. Salve qualquer pendencia antes de continuar.</strong></p>

	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"

		href="{{actionUrl}}"
	>
		<span>Confirmar mudança de senha</span>
	</a>

	<p>Se você acredita que isto é um erro, por favor ignore este E-Mail.</p>
	<p>{{date}}</p>
</div>