<div style="text-align: left">
	<h2>Aqui está um link para redefinir sua senha.</h2>
	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"
		href="{{remote}}/reset-pass#{{hash}}"
	>
		<span>REDEFINIR SENHA</span>
	</a>
	<p>Este link é válido por 48 horas.</p>
	<p>Se você acredita que isto é um erro, por favor ignore este E-Mail.</p>
	<p>{{date}}</p>
</div>