<div style="text-align: left">
	<h2>Here is a link to reset your password.</h2>
	<h2>Voici un lien pour réinitaliser votre mot de passe.</h2>
	<a
		style="
			display: inline-block;
			text-decoration: none;
			padding: 7px;
			background-color:orange;
			border-radius: 4px;
			color: #ffffff;
			margin: 14px 0"
		href="{{remote}}/reset-pass#{{hash}}"
	>
		<span>RÉINITIALISER LE MOT DE PASSE</span>
	</a>
	<p>Ce lien est valide pendant 48 heures.</p>
	<p>Si vous pensez qu'il s'agit d'une erreur, merci d'ignorer cet e-mail.</p>
	<p>{{date}}</p>
</div>